*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
color: white;
padding: 20px;
text-align: center;

}
nav{
    background-color: #0d47a1;/*blue*/
    display: flex;
    justify-content: center;
}
body{
    background-color:#f5f5f5;/* light grey main background*/
    font-family: Arial, Helvetica, sans-serif;

}
div{
    height: 50px;
    width: 100%;
    background-color:#caf0f8;
    color: #caf0f8;
    box-sizing: border-box;
}
#logo{
    height: 50px;
    width: 100px;
    float: left;
margin-left: 10px;
}